/*POP WINDOW FIXED IN RIGHT SIDE START*/
.popup-window{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    /*width: 300px;*/
    width: 380px;
    background-color: #fff;
}
.popup-inner{
    overflow-y:auto;
  /*  overflow: scroll;*/
    height: 90%;
    overflow-x: hidden;
    border-bottom: 1px solid #f2f2f2;
}
.popup-close-btn{
    position: relative;
    top: 7px;
    left: 10px;
     font-size: 1.2em;
}
.popup-bottom{
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    /*width: inherit;
    right: 124px;*/
} 

.non
{
    background-color: transparent;
    color: black;
    cursor: pointer;
    max-height: 45px;
    height: 45px;
}
.selected_venue
{
    background-color: green;
    color: white;
    cursor: pointer;
    max-height: 45px;
    height: 45px;
}


.error{
    color: red !important;
}
/*POP WINDOW FIXED IN RIGHT SIDE END*/

.tile_stats_count .stats_right {
    padding-left: 0px;
}

.tile_stats_count .stats_left {
    border-left: 2px solid #ECECED; 
    width : 0;
}

.stats_count {
    width: 14%; 
} 

.stats_count {  
    white-space: unset !important;
    font-size: 18px;
    font-weight: bold;
}

.checkbox-inline{
    margin-left: 0px !important;
}

.callImage{
    text-decoration: none;

}
.closedImage{
    background-color: black;
    border-radius: 18px;
    color: #ffffff;
    display: block;
    font-family: "Verdana",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    top: -8px;
    right: 8px;
    width: 15px;
    float: right;
}

.exTab2container .nav-tabs > li.active > a,.exTab2container .nav-tabs > li.active > a:hover,.exTab2container .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}
.exTab2container .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}
.exTab2container .nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.mp{
    padding-left: 0px !important;
}

.pm{
    padding-right: 0px !important;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
/* My css */
.main-box{
    position: absolute;
width: 84%;
z-index: -1;
margin-top: -16px;
}